---
database: ${DATABASE_STR}
redis: ${REDIS_STR}

server: irc.ocf.berkeley.edu
username: irclogger
realname: OCF IRC Logger
nickname: irclogger
port: 6697
ssl: true
channels:
  - "#rebuild"
  - "#administrivia"
  - "#announcements"
  - "#alerts"
  - "#appdev"
  - "#asuc"
  - "#atdp"
  - "#atlas"
  - "#atool"
  - "#ceph"
  - "#data"
  - "#decal-comm"
  - "#finance-comm"
  - "#hpc"
  - "#hpc_users"
  - "#hydra"
  - "#internal-comm"
  - "#kubernetes"
  - "#linux-infra"
  - "#matrix"
  - "#mentors"
  - "#opstaff"
  - "#rebuild-spam"
  - "#test"
  - "#xcf"
domain: irclogs.ocf.berkeley.edu

watchdog:
  timeout: 180
